
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Create account
          </div>
          <div class="card-body">
            <form [formGroup] = "signUpForm">
                <div class="form-group">
                    <label for="Firstname">Firstname</label>
                    <input formControlName="firstname" type="text"  id="firstname" class="form-control" placeholder="Firstname" name="firstname">
                    <small *ngIf="signUpForm.controls['firstname'].dirty && signUpForm.hasError('required', 'firstname')" class="text-danger">*Firstname is required</small>
                  </div>
                  <div class="form-group">
                    <label for="Lastname">Lastname</label>
                    <input formControlName="lastname" type="text"  id="lastname" class="form-control" placeholder="Lastname" name="lastname">
                    <small *ngIf="signUpForm.controls['lastname'].dirty && signUpForm.hasError('required', 'lastname')" class="text-danger">*Lastname is required</small>
                  </div>
                  <div class="form-group">
                    <label for="Email">Email</label>
                    <input formControlName="email" type="text"  id="email" class="form-control" placeholder="Email" name="email">
                    <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
                  </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input formControlName="username" type="text"  id="username" class="form-control" placeholder="Username" name="username">
                <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                  <input formControlName="password" [type]="type"  id="password" class="form-control" placeholder="Password" name="password">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i (click)="hideShowPass()" class="fa {{eyeIcon}}"></i>
                    </span>
                  </div>
                </div>
                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
              </div>
              <button (click)="signIn()"  type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div>Already have a account
                <a routerLink="/login">Login in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  